.bc-app__gnome-cards__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.bc-app__gnome-cards__card__img {
  height: 200px;
  max-height: 200px;
  object-fit: cover;
  object-position: top center;
}
